/*
 * Navbar layout stuff
 */

nav#nav-bar {
    box-sizing:       border-box;
    height:           80px;
    width:            100%;
    background-color: #00a087;
    color:            #e8fdff;
    position:         fixed;
    overflow:         hidden;
    z-index:          2;
    top:              0;
    padding:          0 2em 0 2em;
    @media screen and (max-width: $break-small) {
        height:       60px;        
    }

    .logo {
        float:  left;        
        @include square-size(80px);
        @media screen and (max-width: $break-small) {
            margin-top: 5px;            
            @include square-size(60px);            
        }
    }

    .header {
        line-height: 240%;
        font-size:   200%;
        float:       left;
        @media screen and (max-width: $break-small) {
            display: none;        
        }
    }

    .nav-bar-right {
        display:         flex;
        flex-flow:       row;
        width:           auto;
        justify-content: flex-end;
        margin:          10px 0;
        height:          60px;
        align-items:     center;
        list-style:      none;

        > li {
            margin:           20px 10px;
            border:           solid 1px black;
            padding:          23px 17px;
            background-color: #E7FDFF;
            color:            rgb(14, 184, 133);
            border-radius:    5px;
            cursor:           pointer;
            font-size:        110%;

            &:hover {
                border:           solid 1px black;
                background-color: white;
                color:            black;
            }

            @media screen and (max-width: $break-medium) {
                font-size: 2vw;
            }

            @media screen and (max-width: $break-small) {
                margin: 5px 2px 25px 3px;
                border: 1px solid #000;
                padding: 10px 13px;
                font-size: 110%;
                
                > span {
                    display: none;
                }
            }
        }
    }
}
